<h1>Editing Book</h1>
<%= form_for(@post) do |f| %>

<div class="field row">
<label for="book_title">Title</label>
<br>
<%= f.text_field :title, class: "book_title" %>
</div>

<div class="field row">
<label for="book_body">Body</label>
<br>
<%= f.text_area :body, class: "book_body" %>
</div>
<%= f.submit "Update Book" %>

<% end %>

<%= link_to 'Show', post_path(@post.id), class: "show_#{@post.id}" %>
|
<%= link_to 'Back', posts_path, class: "back" %>